{% extends "project/base.html" %}

{% block container %}
<div class="row"><h1>工程情况</h1></div>
<div class="row">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>项目名称</th>
                <th>列入计划</th>
                <th>项目立项</th>
                <th>招标登记表</th>
                <th>合同签订</th>
                <th>开工日期</th>
                <th>竣工日期</th>
                <th>系统录入</th>
                <th>工程验收</th>
                <th>招标控制价<br/>(万元)</th>
                <th>中标价格<br/>(万元)</th>
                <th>最终审定价<br/>(万元)</th>
                <th>中标单位</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <th scope="row">{{ object.pk }}</th>
                <td>{{ object.name }}</td>
                <td>{{ object.planned|yesno:"是, 否" }}</td>
                <td>{{ object.get_approval_chart_display }}</td>
                <td>{{ object.get_tendering_chart_display }}</td>
                <td>{{ object.get_contract_display }}</td>
                <td>2015/1/2</td>
                <td>2015/2/3</td>
                <td>{{ object.get_online_system_input_display }}</td>
                <td>{{ object.get_acceptance_display }}</td>
                <td>{{ object.get_prices.0|floatformat:2 }}</td>
                <td>{{ object.get_prices.1|floatformat:2 }}</td>
                <td>{{ object.get_prices.2|floatformat:2 }}</td>
                <td>{{ object.successful_bidder }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}